body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b39678;
    color: #333333;
}

.header {
    background-color: #312f2d;
    color: #333333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #cccccc;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333333;
    text-decoration: none;
}

.header .logo img {
    height: 40px;
}   

.header .logo span {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #b39678;
}

.header .menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .menu a {
    font-size: 16px;
    color: #b39678;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.header .menu a:hover {
    background-color: #fdfdfd;
}

.header .menu .dropdown {
    position: relative;
    display: inline-block;
}

.header .menu .dropdown .menu-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header .menu .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color:#b39678;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(240, 236, 236, 0);
    z-index: 1050;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #b39678;
}

.header .menu .dropdown-content a {
    color: #333333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header .menu .dropdown-content a:hover {
    background-color: #ffffff;
}

.header .menu .dropdown-content.show {
    display: block;
}

.slogan {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}

.main-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.main-options a {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid#b396787c;
}

.main-options a:hover {
    background-color: #b396787c;
    color: #333333;
}

.search-section {
    text-align: center;
    margin-top: 50px;
}

.search-section select,
.search-section input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #b39678;
    margin-right: 10px;
}

.search-section input[type="text"] {
    width: 600px;
}

.search-section button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #b39678;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #b39678b9;
}

.featured-properties {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #b39678c4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-properties h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
}

.property-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.property {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #1b19197a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.property img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.property-details {
    text-align: left;
}

.property-details h3 {
    margin: 0 0 10px 0;
    color: #000000;
}

.property-details p {
    margin: 5px 0;
    color: #080808;
}

.view-more-container {
    text-align: center;
    margin-top: 30px;
}

.view-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #806b55;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-more-button:hover {
    background-color:#b3967898;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.menu-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: #b39678;
}

.finance-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #b39678;
    font-size: 16px;
}

.bi-currency-dollar {
    margin-right: 5px;
    fill: #b39678;
}

.bi-currency-dollar-menu {
    margin-right: 5px;
    fill: #333333;
}

.header .menu .dropdown-content .capitalist {
    margin-right: 5px;
    fill: #333333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}